:root {
    /* FONT-SIZE */
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lg: 20px;
    --fs-xl: 22px;
    --fs-2xl: 24px;
    --fs-2xxl:30px;
    --fs-3xl: 36px;
    --fs-4xl: 40px;
    --fs-5xl: 48px;
    --fs-6xl: 72px;

   

    /* LINE-HEIGHT */
    --lh-22: 22px;
    --lh-24: 24px;
    --lh-91: 91.8px;
    --lh-45: 45.9px;
    --lh-35: 35.9px;
    --lh-61: 61.2px;
    --lh-32: 32.9px;
    --lh-62: 62.4px;
    --lh-23: 23.22px;
    --lh-46: 46.44px;
    --lh-25: 25.5px;
    --lh-72: 72px;
    --lh-27: 27px;
    --lh-28: 28px;
   

    /* FONT-WEIGHT */
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;

    /* COLORS */
    --blur2: #1219D220;
    --blur: #01010140;
    --bg-black: #000002;
    --white: #FFFFFF;
    --black: #010101;
    --blue:#6C6CD3;
    --text-purple:#1BABFE;
    --grey: #FDFDFD66;
    --grey2: #8A8EF714;
    --grey3: #FFFFFF99;
    --black2: #FFFFFF14;
    --blue2: #141248;
    --bg-blue-1: #140F40;
    --nav-bg-1: #80B495;
}

.ff-Josefin {
    font-family: "Josefin Sans", sans-serif;
}

.ff-poppins {
    font-family: "Poppins", sans-serif;
}


.nav-background{
    color: var(--nav-bg-1);
}
.bg-blue-1 {
    color: var(--bg-blue-1);
}

.blue2 {
    color: var(--blue2);
}

.blur {
    color: var(--blur);
}

.blur2 {
    color: var(--blur2);
}

.bg-black {
    color: var(--bg-black);
}

.fw-3 {
    font-weight: var(--fw-3);
}

.black2 {
    color: var(--black2);
}

.grey3 {
    color: var(--grey3);
}

.grey2 {
    color: var(--grey2);
}

.grey {
    color: var(--grey);
}

.blue {
    color: var(--blue);
}

.text-purple {
    color: var(--text-purple);
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-500 {
    font-weight: var(--fw-500--fw-400);
}

.fw-600 {
    font-weight: var(--fw-600--fw-400);
}

.fw-700 {
    font-weight: var(--fw-700--fw-400);
}

.fw-800 {
    font-weight: var(--fw-800--fw-400);
}

.fw-900 {
    font-weight: var(--fw-900--fw-400);
}
.fw-300{
    font-weight:var(--fw-300) ;
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-2xl {
    font-size: var(--fs-2xl);
}
.fs-2xxl {
    font-size: var(--fs-2xxl);
}

.fs-3xl {
    font-size: var(--fs-3xl);
}

.fs-4xl {
    font-size: var(--fs-4xl);
}

.fs-5xl {
    font-size: var(--fs-5xl);
}

.fs-6xl {
    font-size: var(--fs-6xl);
}


.lh-22 {
    line-height: var(--lh-22);
}

.lh-42 {
    line-height: var(--lh-24);
}

.lh-91 {
    line-height: var(--lh-91);
}

.lh-35 {
    line-height: var(--lh-35);
}

.lh-61 {
    line-height: var(--lh-61);
}

.lh-32 {
    line-height: var(--lh-32);
}

.lh-62 {
    line-height: var(--lh-62);
}

.lh-32 {
    line-height: var(--lh-23);
}

.lh-46 {
    line-height: var(--lh-46);
}

.lh-25 {
    line-height: var(--lh-25);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-28 {
    line-height: var(--lh-28);
}

.op-70{
    opacity: 70%;
}
.op-80{
    opacity: 80%;
}

.c-white {
    color: var(--white);
}

.black {
    color: var(--black);
}

@media (max-width:768px) {
    :root {
        /* FONT-SIZE */
        --fs-sm: 16px;
        --fs-md: 18px;
        --fs-lg: 20px;
        --fs-xl: 22px;
        --fs-2xl: 24px;
        --fs-3xl: 36px;
        --fs-4xl: 40px;
        --fs-5xl: 48px;
        --fs-6xl: 72px;

        /* LINE-HEIGHT */
        --lh-22: 22px;
        --lh-24: 24px;
        --lh-91: 91.8px;
        --lh-45: 45.9px;
        --lh-35: 35.9px;
        --lh-61: 61.2px;
        --lh-32: 32.9px;
        --lh-62: 62.4px;
        --lh-23: 23.22px;
        --lh-46: 46.44px;
        --lh-25: 25.5px;
        --lh-72: 72px;
        --lh-27: 27px;
        --lh-28: 28px;

    }

}